body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #283c64;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}
.search-box input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

nav {
    background: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-button{
    width: 100%;
}
.hp-login{
    width: 20%;
}
button:hover {
    background: #555;
}
.login-options {
    margin-top: 10px;
}
.login-options a {
    text-decoration: none;
    color: #007BFF;
}
.search-results {
    margin-top: 20px;
}
.search-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.search-item img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}
.search-item h2 {
    font-size: 18px;
    margin: 0 0 5px;
}
.search-item p {
    margin: 0;
    color: #555;
}
.sub-nav {
    background: #555;
    color: #fff;
    padding: 8px;
    text-align: center;
}
.sub-nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    margin: 0 8px;
}
.section-header {
    background: #eee;
    color: #3c3c64;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.article-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.article-meta {
    color: #777;
    margin-bottom: 20px;
}
.article-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
.related-articles {
    margin-top: 40px;
}
.related-articles h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.related-item {
    margin-bottom: 10px;
}
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.news-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 20px);
}
.news-item img {
    max-width: 100%;
    height: auto;
}
footer {
    background: #282850;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
